@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.calendarContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(147 197 253);
}

/* for listView Calendar */
.fc-theme-standard .fc-list-day-cushion {
  background-color: #555;
  padding: 15px;
}
.fc-event-main {
  overflow: hidden;
  background-color: #176386;
  font-size: large;
}
.fc-event-title {
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: medium;
}
.fc-theme-standard .fc-popover {
  background-color: #333;
}
