@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.calendarContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
}
/* .fc-media-screen {
  max-width: 1200px;
} */
/* for listView Calendar */
.fc-theme-standard .fc-list-day-cushion {
  background-color: #555;
  padding: 15px;
}
.fc-event-main {
  overflow: hidden;
  background-color: #176386;
  font-size: large;
}
.fc-event-title {
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: medium;
}
.fc-theme-standard .fc-popover {
  background-color: #333;
}

/* fc-daygrid-day-events */
tbody tr {
  /* ś */
  overflow-y: hidden;
  height: 130px;
  /* align-items: normal !important;
  z-index: 2; */
}

/* .fc-daygrid-day-events {
  white-space: nowrap;
  overflow: hidden;
  align-items: normal !important;
  z-index: 2;
}
.fc-list-table .fc-list-event:hover td {
  background-color: #555;
}
.fc-daygrid-event-dot {
  display: none;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 5px;
  overflow: visible;
}
.fc-event-past .fc-list-event {
  margin-left: 22px;
}
.fc-event-title,
.fc-event-time {
  font-size: 15px;
  font-weight: 700;
}
.fc-daygrid-event:hover {
  white-space: normal !important;
  background-color: #176386;
}
.fc-list-day-text,
.fc-list-day-side-text,
.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-daygrid-day-bottom a {
  color: #ddd;
  font-size: larger;
  text-decoration: none;
} */
